<h1 class="titulo-principal">Ingatu Toys</h1>
<div *ngFor="let producto of productos; trackBy: trackById" class="producto-card">
    <div class="producto-header">
        <h3 class="producto-titulo">{{ producto.nombre }}</h3>
        <span class="producto-id">ID: {{ producto.id }}</span>
    </div>
    <div class="producto-body">
        <div *ngIf="producto.descripcion" class="producto-descripcion">
            {{ producto.descripcion }}
        </div>
        <div class="producto-precio">
            ${{ producto.precio}}
        </div>
    </div>
    <div class="producto-actions">
        <button class="btn-agregar" (click)="agregar(producto)" title="Agregar al carrito">Agregar al Carrito</button>
    </div>
</div>